openiam-idm-esb/src/main/resources/mule-service-client-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" 
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" 
	xmlns:spring="http://www.springframework.org/schema/beans"
 	xmlns:context="http://www.springframework.org/schema/context"	
 	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xsi:schemaLocation="
	        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        	http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.0/mule.xsd
        	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.0/mule-http.xsd
       	  	http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.0/mule-vm.xsd
          	http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/3.0/mule-jms.xsd
         	 http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.0/mule-cxf.xsd" >



	    <message-properties-transformer  name="serviceClient" scope="outbound">
           <add-message-property key="operation" value="#header:INBOUND:operation"/>
        </message-properties-transformer>
            
		
		<flow name="connectorClient">
  			<vm:inbound-endpoint path="dispatchConnectorMessage" exchange-pattern="request-response" transformer-refs="serviceClient" >
  			</vm:inbound-endpoint>
		
	  		  <cxf:jaxws-client serviceClass="org.openiam.spml2.interf.ConnectorService"   >
	  		  </cxf:jaxws-client>
	  		 
	 		   		
	  		<outbound-endpoint 
	  			address="http://localhost:8080/openiam-idm-esb/idmsrvc/#[header:INBOUND:serviceName]"
	  			exchange-pattern="request-response" transformer-refs="serviceClient"  >
	  		</outbound-endpoint>

		</flow>
				
				
				
				
 		

</mule>

